<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Nuevo Contrato</title><link rel="stylesheet" th:href="@{/resources/css/style.css}"></head>
<body>
    <h1>Nuevo Contrato</h1>
    <form th:action="@{/contratos/guardar}" th:object="${contrato}" method="post" class="form-container">
        <div class="form-group">
            <label>Vigilante:</label>
            <select th:field="*{idVigilante}" required>
                <option value="">-- Seleccione --</option>
                <option th:each="v : ${listaVigilantes}" 
                        th:value="${v.id}" 
                        th:text="${v.nomApe} + ' (DNI: ' + ${v.dni} + ')'"></option>
            </select>
        </div>

        <div class="form-group">
            <label>Sucursal:</label>
            <select th:field="*{idSucBancaria}" required>
                <option value="">-- Seleccione --</option>
                <option th:each="s : ${listaSucursales}" 
                        th:value="${s.id}" 
                        th:text="${s.domicilio}"></option>
            </select>
        </div>

        <div class="form-group">
            <label>Horas Trabajadas:</label>
            <input type="number" th:field="*{horasTrabajadas}" required>
        </div>
        
        <div class="form-group">
            <label>Fecha Inicio:</label>
            <input type="date" th:field="*{fechaInicioJornada}" required>
        </div>
        <div class="form-group">
            <label>Fecha Fin:</label>
            <input type="date" th:field="*{fechaFinJornada}" required>
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox" th:field="*{conArma}">
                ¿Porta Arma?
            </label>
        </div>

        <button type="submit" class="btn-guardar">Guardar</button>
    </form>
</body>
</html>